<html>
<head>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-sm-5">
				<h2>Orders</h2>
				<table class="table table-striped">
					<tr>
						<th>#</th>
						<th>Details</th>
						<th>Customer Name</th>
					</tr>
					<tr>
						<td>101</td>
						<td>1 Chicken Sandwich</td>
						<td>Sal</td>
					</tr>
					<tr>
						<td>102</td>
						<td>1 Cheeseburger with Coca Cola</td>
						<td>Bro</td>
					</tr>
					<tr>
						<td>103</td>
						<td>1 Big Macbook</td>
						<td>HackGT</td>
					</tr>
				</table>
			</div>
			<div>
				<h2>Order Info</h2>
				<ul>
					<li>Chicken Meal</li>
					<ul>
						<li>Size: Large</li>
						<li>Drink: Coca-Cola</li>
					</ul>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>